/*
@author: Klayton Massango
*/
:root{
    --itemsColor: black;
    --itemsColor2: white;
    --toggleColor: white;
    --itemsHover: cyan;
    --listColor: transparent;
    --itemFont: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body, nav{
    padding: 0;
    margin: 0;
}
div.logo a{
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    padding: 0 40px;
    color: var(--itemsColor2);
    margin-top: -2px;
}
nav{
    display: flex;
    height: 80px;
    padding: 1rem;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    background: transparent;
    /*z-index: 1000;*/
}
nav ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 1rem;
    margin-top: 20px;

}
nav ul li{
    text-shadow: rgba(0, 0, 0, 0.09) 2px .1rem;
    display: inline-block;
    position: relative;
}
nav ul li a{
    font-family: var(--itemFont);
    text-decoration: none;
    text-transform: uppercase;
    padding: .5rem;
    color: var(--itemsColor2);
}
nav ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: var(--teal);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
nav ul li:hover::after{
    width: 100%;
}
nav ul li a:hover{
    color: var(--itemsHover);
}
#btn-menumobile{
    display: none;
}

@media (max-width: 600px) {

    nav ul{
        display: none;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0;
        background: var(--listColor);
        transition: 0.5s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }
    #menu.active #list{
        display: block;
        height: calc(100vh - 70px);
        visibility: visible;
    }

    #menu a{
        padding: 1rem 0;
        margin: 0 1rem;
        color: var(--itemsColor2);
    }
    #menu li{
        margin-top: 10px;
    }
    #btn-menumobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburger{
        color: var(--toggleColor);
        border-top: 2px solid;
        width: 30px;
    }
    #hamburger::after, #hamburger::before{
        content: '';
        display: block;
        width: 30px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.5s;
        position: relative;
    }
    #menu.active #hamburger{
        border-top: transparent;
    }
    #menu.active #hamburger::before{
        transform: rotate(135deg);
    }
    #menu.active #hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    }
}
